body {
  margin: 0;
  background-color: var(--backgroundColor);
}
html,
body {
  max-width: 100%;
  overflow-x: clip;
  scroll-behavior: smooth;
}
#root {
}

@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --accent: #d9b72f;
  --secondaryAccent: #17113f;
  --secondaryDarkAccent: #0b0723;
  --fontFamily: "Audiowide", sans-serif;
  --textFamily: "Albert Sans", sans-serif;
  --backgroundColor: #181926;
}

a {
  text-decoration: none;
  color: unset;
}

.maxWidthContainer {
  max-width: 1300px;
  width: 100vw;
  margin: auto;
  padding: 0px 25px;
  box-sizing: border-box;
  position: relative;
}

h1 {
  font-family: var(--fontFamily);
  font-size: 62px;
  margin: 0px;
  color: white;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -1px;
  text-shadow: var(--accent) 0px 0px 30px, 0px 2px 10px rgba(0, 0, 0, 0.48);
  text-transform: uppercase;
}
h2 {
  font-family: var(--fontFamily);
  font-size: 42px;
  margin: 0px;
  color: white;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -1px;
  text-shadow: rgb(128, 96, 255) 0px 0px 30px;
  text-transform: uppercase;
}
h3 {
  font-family: var(--fontFamily);
  font-size: 24px;
  margin: 0px;
  color: var(--textColor);
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -1px;
}
h4 {
  font-family: var(--fontFamily);
  font-size: 20px;
  margin: 0px;
  color: var(--textColor);
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -0.5px;
}
h5 {
  font-family: var(--fontFamily);
  font-size: 22px;
  margin: 0px;
  color: #1d4176;
  font-weight: normal;
  line-height: 120%;
}
p {
  font-family: var(--textFamily);
  font-size: 16px;
  margin: 0px;
  color: #ffffff;
  font-weight: 300;
  line-height: 130%;
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.48);
}
.subtitle {
  font-size: 20px;
  line-height: 32px;
}

button {
  font-family: "Roboto", sans-serif;
  border: solid 1px rgb(255, 255, 255);
  border-left: solid 3px rgb(255, 255, 255);
  border-right: solid 3px rgb(255, 255, 255);
  background-color: transparent;
  background-repeat: no-repeat;
  outline: none;
  color: white;
  padding: 14px 28px;
  font-size: 15px;
  cursor: pointer;
  text-shadow: 0px 1px 10px rgba(0, 0, 0, 0.31);
  box-sizing: border-box;
  transition: 0.2s;
  font-weight: 500;

  -webkit-box-shadow: inset 0px 0px 40px 3px rgba(255, 255, 255, 0.55),
    0px 0px 20px 1px rgba(255, 255, 255, 0.55);
  box-shadow: inset 0px 0px 25px 2px rgba(255, 255, 255, 0.55),
    0px 0px 20px 1px rgba(255, 255, 255, 0.55);
}
.accentBtn {
  border: solid 1px var(--accent);
  border-left: solid 2px var(--accent);
  border-right: solid 2px var(--accent);
  -webkit-box-shadow: inset 0px 0px 40px 5px rgba(217, 183, 47, 0.693),
    0px 0px 20px 1px rgba(217, 183, 47, 0.53);
  box-shadow: inset 0px 0px 40px 5px rgba(217, 183, 47, 0.693),
    0px 0px 40px 1px rgba(217, 183, 47, 0.53);
}
button:hover {
  -webkit-box-shadow: inset 0px 0px 50px 3px rgba(255, 255, 255, 0.55),
    0px 0px 40px 4px rgba(255, 255, 255, 0.706);
  box-shadow: inset 0px 0px 50px 3px rgba(255, 255, 255, 0.788),
    0px 0px 40px 4px rgba(255, 255, 255, 0.706);
  transform: translateY(-2px);
}
.accentBtn:hover {
  -webkit-box-shadow: inset 0px 0px 50px 7px rgba(217, 183, 47, 0.711),
    0px 0px 50px 7px rgba(217, 183, 47, 0.706);
  box-shadow: inset 0px 0px 50px 7px rgba(217, 183, 47, 0.711),
    0px 0px 50px 7px rgba(217, 183, 47, 0.706);
  transform: translateY(-2px);
}
.noBtn {
  border: unset;
  box-shadow: unset;
  text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.555),
    0px 0px 10px rgba(255, 255, 255, 0.325),
    0px 0px 20px rgba(255, 255, 255, 0.301),
    0px 0px 30px rgba(255, 255, 255, 0.524);
}
.noBtn:hover {
  text-shadow: 0px 0px 5px rgb(255, 255, 255),
    0px 0px 10px rgba(255, 255, 255, 0.645),
    0px 0px 20px rgba(255, 255, 255, 0.667), 0px 0px 30px rgb(255, 255, 255);
  box-shadow: none;
}
.longBtn {
  width: 300px;
  padding: 15px 0px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
}

.container {
  background-color: white;
  padding: 25px;
  box-shadow: 0px 3px 0px 0px rgba(170, 170, 170, 0.25);
  border-radius: 10px;
  position: relative;
  box-sizing: border-box;
  transition: 0.2s;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flex {
  display: flex;
  align-items: center;
  gap: 15px;
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 0.4s;
  opacity: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.disableSelect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;

  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}
.undraggableImage {
  pointer-events: none;
}

.popup {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  display: flex;
  justify-content: center;
}
.popup-inner {
  animation: 0.4s cubic-bezier(0, 1.5, 0.5, 0.99) 0s 1 slideInFromTop;
  margin-top: 20px;
  position: relative;
  padding: 17px 32px;
  width: 300px;
  background-color: white;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.popupAccent {
  background-color: rgb(224, 146, 0);
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 10px;
  height: 100%;
  box-sizing: border-box;
  border-radius: 10px 0px 0px 10px;
}
.popup-inner .close-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
  padding: 5px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: 0.2s;
}
.popup-inner .close-btn:hover {
  background-color: rgb(240, 240, 240);
  cursor: pointer;
}
.popup-inner .close-btn img {
  height: 50%;
}
.popupTitle {
  font-family: var(--fontFamily);
  font-weight: 500;
  margin-bottom: 5px;
}
.popupMessage {
  font-family: var(--fontFamily);
  font-weight: 300;
  color: grey;
  font-size: 14px;
}
.popupContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 50;
}
.popupInnerContainer {
  width: 90vw;
  max-width: 600px;
  max-height: 90vh;
  overflow-y: auto;
  z-index: 60;
  padding: 40px;
  -webkit-box-shadow: 0px 0px 500px 3600px#000000a0;
  box-shadow: 0px 0px 500px 3600px #000000a0;
  animation: 0.4s cubic-bezier(0, 1.5, 0.5, 0.99) 0s 1 slideInFromTop;
}
/*Popup*/
@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
